<div class="container">
    <nav class="nav bar navbar-default" role="navigation">
		<ul class="nav navbar-nav">
			<li>{{}#link-to 'posts'}Posts{{/link-to}}</li>
			<li>{{}#link-to 'about'}About{{/link-to}}</li>
			<li>{{}#link-to 'contact'}contact{{/link-to}}</li>
		</ul>
	</nav>
	<h1>Royer's Blog</h1>

	<ul>
		<li><a href="#">I Love Play Station 4</a></li>
		<li><a href="#">Ghost recoon</a></li>
		<li><a href="#">Mortal Combat</a></li>
		<li><a href="#">Destiny</a></li>
	</ul>
</div>
